In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as mpl

In [5]:
data = pd.read_csv("testfile.csv", header=None)
data.rename()
data.head()

       0         1
0  10000  0.000324
1  20000  0.000651
2  30000  0.000982
3  40000  0.001321
4  50000  0.002369